<!DOCTYPE html>
<html>
    <head>
        <meta title="author">
        <meta title="description" content="This webpage is being developed by Lakshya Garg">
    </head>
    <body>
        {{{body}}}
    </body>
</html>