<h2>
    SignUp
</h2>

<form action="/signup" method="post">

<input type="text" name="name" placeholder="name">
<input type="text" name="password" placeholder="Password">
<input type="submit">
</form>